# Ignore build outputs
bin/
obj/
web.config     # bỏ qua file web.config, sẽ không commit

# Ignore Visual Studio folder
.vs/

# Optional: ignore user-specific files
*.user
*.suo
*.cache
*.log

# Optional: ignore NuGet packages
packages/
*.nupkg
